name: firebase_twitter_interface
description: A Twitter-like interface with Firebase integration
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  cloud_firestore: ^4.15.8
  firebase_core: ^2.27.0
  image_picker: ^1.0.7
  http: ^1.2.1
  cached_network_image: ^3.3.1
  timeago: ^3.6.1
  flutter_staggered_grid_view: ^0.7.0
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
